body {
    background-color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    color: black;
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    margin: 0px;
    padding: 10px;
    border: 0px;
    width: 100%;
    background-color: #45529c;
    position: fixed;
    top: 0;
    z-index: 999999;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 10px;
    font-size: 13px;
    margin: 0px;
    flex-wrap: wrap;
    vertical-align: center;
    justify-content: left;
}

nav>ul {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
}

.menu li {
    height: 30px;
    vertical-align: middle;
    display: flex;
    margin-right: 20px;
}

.historia {
    background-image: url(imgs/bkg_header.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(85, 152, 210);
    background-size: 885px;
    margin-top: 63px;
    padding: 50px 20px;
}

.historia p {
    width: 700px;
    text-align: justify;
    line-height: 1.35;
}

.motivo {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "titulo motivo" "titulo motivo";
}

.motivo>ul {
    list-style-type: none;
}

.motivo>h2 {
    grid-area: titulo;
    padding: 40px;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.motivo-item {
    grid-area: motivo;
    display: inline-block;
    margin-right: 50px;
}

div ul li img {
    display: block;
    margin-bottom: 5px;
}

div ul li {
    text-align: center;
    color: grey;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 4px;
    color: black;
    font-weight: bolder;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    text-shadow: 0px 0px 5px rgb(71, 68, 68);
}

main {
    padding: 1px;
}

div h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.curiosidades {
    background-color: rgb(200, 227, 252);
    color: rgb(82, 101, 207);
    display: flex;
    text-align: center;
    margin: auto;
    grid-template-columns: 30% 1fr 10px 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas: "titulo cur1 . cur2" "titulo cur3 . cur4";
    margin-right: 1px;
}

.curiosidades>h3 {
    font-size: 70px;
    font-weight: lighter;
}

.curiosidades>p {
    font-variant: small-caps;
    font-size: large;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-right: 200px;
}

#cur_titulo {
    grid-area: titulo;
    color: rgb(3, 3, 3);
    font-size: xx-large;
    margin: auto;
    padding: 10px;
    text-align: center;
    max-width: 200px;
}

#cur1 {
    grid-area: cur1;
    margin: auto;
}

#cur2 {
    grid-area: cur2;
    margin: auto;
}

#cur3 {
    grid-area: cur3;
    margin: auto;
}

#cur4 {
    grid-area: cur4;
    margin: auto;
}

.container {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

div.container h2 {
    color: black;
    padding-left: 40px;
    padding-bottom: 20px;
}

.container h3 {
    color: rgb(56 127 187);
}

#oficina {
    text-align: left;
}

.box-oficina {
    text-align: center;
    border-color: rgb(202, 200, 200);
    display: inline-block;
    width: calc(33% - 122px);
    padding: 10px 10px 30px;
    margin: 0 50px 10px;
    border: 1px;
    border-style: solid;
    vertical-align: middle;
    box-shadow: 8px 8px 15px gray;
}

.box-oficina img {
    padding: 30px 0px 30px;
}

.box-oficina:hover {
    transform: scale(1.1);
    font-weight: 100;
    background-color: rgb(228, 227, 227);
}

.box-oficina a {
    padding: 10px;
    background-color: lightgrey;
    box-shadow: 4px 4px 10px;
    text-decoration: none;
    color: gray;
}

.depoimento {
    display: inline-block;
    background-color: rgb(200, 227, 252);
    width: 100%;
    padding-bottom: 30px;
}

.box-depoimento {
    text-align: center;
    border-color: rgb(202, 200, 200);
    background-color: bisque;
    display: inline-block;
    width: calc(33% - 122px);
    padding: 10px 10px 30px;
    margin: 0 50px 10px;
    border: 1px;
    border-style: solid;
    vertical-align: middle;
    box-shadow: 8px 8px 15px gray;
}

.box-depoimento:hover {
    transform: scale(1.05);
    background-color: rgb(236, 182, 117);
}

footer {
    list-style: none;
    display: inline-block;
    background-color: rgb(133, 200, 238);
    width: 100%;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
    transform: scale(0.8);
    margin: auto;
    padding-left: 0px;
}

.noticias {
    padding: 10px;
}

.contato {
    padding: 10px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas: "titulo formulario";
    align-items: baseline;
}

div.contato>h3 {
    grid-area: titulo;
}

.contato-form {
    grid-area: formulario;
    margin: 4px;
}

footer p {
    text-align: right;
    color: aliceblue;
    font-size: x-large;
    padding-right: 20px;
    margin-left: 10px;
    display: inline-block;
    width: 98%;
}


.box-fotos {
    text-align: center;
    border-color: rgb(202, 200, 200);
    background-color: bisque;
    display: inline-block;
    width: calc(33% - 122px);
    padding: 10px 10px 30px;
    margin: 0 50px 10px;
    border: 1px;
    border-style: solid;
    vertical-align: middle;
    box-shadow: 8px 8px 15px gray;
}

.box-depoimento:hover {
    transform: scale(1.05);
    background-color: rgb(236, 182, 117);
}

/* galeria início */

.galeria {
    width: 100%;
    padding-bottom: 30px;
}


.row > .column {
    padding: 0px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    max-height: min-content;
  }
  
  /* Create four equal columns that floats next to eachother */
  .column {
    float: left;
    width: 25%;
  }

  .column img {
      width: 100%;
      padding: 0px;
      margin: 0px;
      border: 0px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 70px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
    zoom: 50%;

  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }